@import "~@angular/material/theming";
@include mat-core();
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);
@include angular-material-theme($theme);

html,
body {
  height: 100%;
}
body {
  overflow: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
header {
  padding: 2em 16px 0 16px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
